.fetch {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid;
    width: 300px;
    text-align: center;
}
.fetch > input, button {
    margin: 5px;
}
.result {
    text-align: center;
}